.plain {
	background-color: grey;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	#app {
		background-color: white;
		flex: 1;
	}

	header {
		text-align: center;
		padding: 0 10px 20px 10px;
		h2 {
			padding: 20px 0px;
		}
		.title {
			font-size: 18px;
		}
	}

	.content {
		display: flex;
		width: 100%;
		padding: 0 10px;
	}
}